@model CYBInfrastructure.Web.Models.LocationListViewModel

@{
    ViewBag.Title = "Location Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Location</h4>

                <p class="text-muted font-13 mb-4">
                    List Of Office Location
                </p>
                <p class="text-muted font-13 mb-4">
                    <a class="btn btn-primary" style=" margin-bottom:10px" href="/Location/Create" id="toast"><i class="fa fa-plus"></i> Add New</a>


               
              



            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/scripts/toastr.js"></script>
<script>
                        $(function () {
                            var a = '@TempData["Success"]';
                            if (a != '')
                                toastr.success("", a);
                           
                            //alert("ab" + a)
                            window.location = '#2249506';
                        })
</script>





@*<script type="text/javascript">
        $(document).ready(function () {
            $("#showtoast").click(function () {
                toastr.error("fatal error", "fatal");
            })
        });
    </script>*@





